<h1>Welcome to connect four</h1>



<br />
<div class="board">

    <div class="row">
        <button class="take-move-button {{if (eq this.player 'red') "token-red"}} {{if (eq this.player 'yel') "token-yellow"}}" {{on "click" (fn this.play 0)}}><i class="fas fa-sort-down down-arrow"></i></button>
        <button class="take-move-button {{if (eq this.player 'red') "token-red"}} {{if (eq this.player 'yel') "token-yellow"}}"  {{on "click" (fn this.play 1)}}><i class="fas fa-sort-down down-arrow"></i></button>
        <button class="take-move-button {{if (eq this.player 'red') "token-red"}} {{if (eq this.player 'yel') "token-yellow"}}" {{on "click" (fn this.play 2)}}><i class="fas fa-sort-down down-arrow"></i></button>
        <button class="take-move-button {{if (eq this.player 'red') "token-red"}} {{if (eq this.player 'yel') "token-yellow"}}" {{on "click" (fn this.play 3)}}><i class="fas fa-sort-down down-arrow"></i></button>
        <button class="take-move-button {{if (eq this.player 'red') "token-red"}} {{if (eq this.player 'yel') "token-yellow"}}" {{on "click" (fn this.play 4)}}><i class="fas fa-sort-down down-arrow"></i></button>
        <button class="take-move-button {{if (eq this.player 'red') "token-red"}} {{if (eq this.player 'yel') "token-yellow"}}" {{on "click" (fn this.play 5)}}><i class="fas fa-sort-down down-arrow"></i></button>
        <button class="take-move-button {{if (eq this.player 'red') "token-red"}} {{if (eq this.player 'yel') "token-yellow"}}" {{on "click" (fn this.play 6)}}><i class="fas fa-sort-down down-arrow"></i></button>
    </div>

    <div class="row">
        {{#each this.rowOne as |gridSpace|}}
            <div class="token-space-container">
                <div class="token-space {{if (eq gridSpace 'red') "token-red"}} {{if (eq gridSpace 'yel') "token-yellow"}}">
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each this.rowTwo as |gridSpace|}}
           <div class="token-space-container">
                <div class="token-space {{if (eq gridSpace 'red') "token-red"}} {{if (eq gridSpace 'yel') "token-yellow"}}">
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each this.rowThree as |gridSpace|}}
           <div class="token-space-container">
                <div class="token-space {{if (eq gridSpace 'red') "token-red"}} {{if (eq gridSpace 'yel') "token-yellow"}}">
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each this.rowFour as |gridSpace|}}
          <div class="token-space-container">
                <div class="token-space {{if (eq gridSpace 'red') "token-red"}} {{if (eq gridSpace 'yel') "token-yellow"}}">
                </div>
          </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each this.rowFive as |gridSpace|}}
          <div class="token-space-container">
                <div class="token-space {{if (eq gridSpace 'red') "token-red"}} {{if (eq gridSpace 'yel') "token-yellow"}}">
                </div>
          </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each this.rowSix as |gridSpace|}}
          <div class="token-space-container">
                <div class="token-space {{if (eq gridSpace 'red') "token-red"}} {{if (eq gridSpace 'yel') "token-yellow"}}">
                </div>
          </div>
        {{/each}}
    </div>
</div>

<button class="new-game-button" {{on "click" this.newGame}}>New Game</button>

{{#if this.gameWinner}}
<h2>Winner is: {{this.gameWinner}}</h2>
{{/if}}
{{!-- <button {{on "click" this.game}} --}}